

.input{
   height: 30px;
    margin-bottom: 10px;
    border-radius: 3px;
    border-color: palevioletred;
  

}

.label{
    display: flex;
    flex-direction: column;}


    .name{
font-weight: 700;
font-size: 20px;
margin-bottom: 5px;
color: rgb(61, 60, 60);
    }

    .addButton{
 display: block;
 margin: 0 auto;
 padding: 10px;
 border-radius: 3px;
 cursor: pointer;

 background-color: pink;
 border-color: indianred;

 font-size: 20px;
 color: rgb(61, 60, 60);
 font-weight: 700;
    }